/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #e1c6b9;
}
main {
  padding-bottom: 50px;
}
.price-label {
  display: inline-block;
  padding: 0.5em 1em;
  border: 2px solid #007bff; /* Change the border color as needed */
  border-radius: 5px;
  background-color: transparent;
  color: #007bff; /* Change the text color as needed */
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

  background: #89a676;
}

.navbar-links {
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.navbar-links a:hover {
  color: #ff3d00;
}

.bar-icon {
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: all 0.3s ease;
}

.side-menu a {
  display: block;
  padding: 20px;
}

.side-menu a:hover {
  color: #ff3d00;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar-links a {
    display: none;
  }

  .bar-icon {
    display: block;
  }
}

FT {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  justify-content: end;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer {
  background-color: #89a676;
  color: #fff;
  padding: 10px 20px;
  justify-content: end;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav form {
  display: flex;
  width: 550px;
  height: 40px;
  padding: 2px;
  background: white;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 10px;
  width: 100px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover {
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}

main {
  padding: 20px;
}

/* Specific page styles */
.login-section,
.purchase-section {
  width: 50%;
  margin: auto;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 51px;
  height: 500px;
}
#items-list {
  display: flex; /* Make the list a flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.container {
  flex: 0 0 calc(33.333% - 20px); /* Adjust the width of each container to fit three items in a row */
  margin: 50px; /* Add margin between items */
}

.wrapper {
  width: 100%;
  height: 100%;
}

.banner-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

h1 {
  font-family: "Righteous", sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
  word-wrap: break-word;
}

p {
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: -43px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

/* Search bar styling */
#search-form {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

#search-input:focus {
  border-color: #007bff;
}

#search-input::placeholder {
  color: #999;
}

/* Search button styling */
button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* Adjust the value to make the button more or less round */
}

#search-button:hover {
  background-color: #0056b3;
}
